/* Arjun Devarajan
Started: October 3, 2015
Last Updated: October 3, 2015
First website styles */

.Disclaimer {
	font-family: Arial, Helvetica, sans-serif;
}

.Header {
	font-family: Arial, Helvetica, sans-serif;
}

.Information {
	font-family: Arial, Helvetica, sans-serif;
}

.Interests {
	font-family: Arial, Helvetica, sans-serif;
}